/**
 * FF Typescript Foundation Library
 * Copyright 2021 Ralph Wiedemeier, Frame Factory GmbH
 *
 * License: MIT
 */

 body {
    --color-primary-100: #F8A9B9;
    --color-primary-200: #F5889E;
    --color-primary-300: #F26784;
    --color-primary-400: #F04669;
    --color-primary-500: #ED254E;
    --color-primary-600: #DC123C;
    --color-primary-700: #BB0F33;
    --color-primary-800: #9A0D2A;
    --color-primary-900: #790A21;
    
    --color-secondary-100: #F8A9B9;
    --color-secondary-200: #F5889E;
    --color-secondary-300: #F26784;
    --color-secondary-400: #F04669;
    --color-secondary-500: #ED254E;
    --color-secondary-600: #DC123C;
    --color-secondary-700: #BB0F33;
    --color-secondary-800: #9A0D2A;
    --color-secondary-900: #790A21;
    
    --color-bg-100: #63696E;
    --color-bg-200: #5A5E63;
    --color-bg-300: #505458;
    --color-bg-400: #464A4E;
    --color-bg-500: #3D4043;
    --color-bg-600: #333638;
    --color-bg-700: #292B2E;
    --color-bg-800: #1F2123;
    --color-bg-900: #161718;
    
    --color-fg-100: #FCFCFD;
    --color-fg-200: #F2F2F3;
    --color-fg-300: #E7E8E9;
    --color-fg-400: #DCDEE0;
    --color-fg-500: #D1D4D6;
    --color-fg-600: #C7C9CC;
    --color-fg-700: #BCBFC2;
    --color-fg-800: #B1B5B9;
    --color-fg-900: #A7ABAF;
}